doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
        link(rel="stylesheet", href="../css/normalize.css")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
    - const list  = ["home","benefits","solution","faq"];
    - const list2 = ["privacy policy","cookie policy"];
        header.header 
            .container.header-container 
                .logo 
                    img(src="../assets/logos/logo1.svg", alt="")
                nav.navbar  
                    ol.list 
                        li.list_item Benefits
                        li.list_item Solution
                        li.list_item.end_item FAQ
                .logo2 
                    img(src="../assets/logos/logo2.svg", alt="")

        main.main 
            .hero_page 
                .container 
                    .row 
                        .col 
                            .img 
                                img(src="../assets/imgs/img_1.png", alt="")
                            .text   
                                h3.h2_text Simple
                                p.p_text Simple, but powerful, front desk just one of our many features.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_2.png", alt="")
                            .text   
                                h3.h2_text AI Integration
                                p.p_text By integrating AI, front office work can be done more quickly and effectively.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_3.png", alt="")
                            .text   
                                h3.h2_text All in One Software
                                p.p_text Manage your property and guests all in one place, and in half the time, with a single login.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_4.png", alt="")
                            .text   
                                h3.h2_text Learning System
                                p.p_text Hotel front offices can work without experience or familiarity with a learning system. 

                    .row 
                        .col 
                            .img 
                                img(src="../assets/imgs/img_1.png", alt="")
                            .text   
                                h3.h2_text Simple
                                p.p_text Simple, but powerful, front desk just one of our many features.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_2.png", alt="")
                            .text   
                                h3.h2_text AI Integration
                                p.p_text By integrating AI, front office work can be done more quickly and effectively.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_3.png", alt="")
                            .text   
                                h3.h2_text All in One Software
                                p.p_text Manage your property and guests all in one place, and in half the time, with a single login.
                        .col 
                            .img 
                                img(src="../assets/imgs/img_4.png", alt="")
                            .text   
                                h3.h2_text Learning System
                                p.p_text Hotel front offices can work without experience or familiarity with a learning system. 
            
            .about_page
                .text-center 
                    h1  Benefits of using hotel 
                        span front desk software
                    p This system reduces your team’s work and lets you move front desk staff to other areas where they can serve guests better
                .row 
                    .col.col1 
                        ol.second_list 
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon1.svg", alt="")
                                    b Fewer manual tasks to manageFewer manual tasks to manage
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon2.svg", alt="")
                                    b Optimize your staffing
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon3.svg", alt="")
                                    b Reduce front desk operating hours
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon4.svg", alt="")
                                    b Cut costs—without it ever harming the guest experience
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon5.svg", alt="")
                                    b Organise your housekeeping
                            li.list_item 
                                .icons 
                                    img(src="../assets/logos/icon6.svg", alt="")
                                    b Manage your rooms and rates
                    .col.col2
                        .img_box 
                            img(src="../assets/imgs/img_second_page_1.jpg", alt="")
                
                .bottom.text-center
                    button book a demo
            
            .result_page
                .text-center 
                    h2 More from our happy 
                        b customers
                .container 
                    .card
                        .img 
                            img(src="../assets/imgs/img_5.png", alt="") 
                        .text_box 
                            p Lorem ipsum dolor sit amet consectetur. Ac laoreet eleifend senectus faucibus tellus elementum. Ipsum pretium amet etiam ornare mollis aliquam id diam. Fringilla purus egestas nunc donec libero sit. Consequat sed vel vitae donec convallis. Quam pretium fames feugiat convallis lobortis turpis. Convallis tellus nisi facilisis orci morbi sit dui diam. Interdum nec urna iaculis at elit. Rhoncus morbi nunc ornare ipsum. Enim vitae quis at tempus enim in pulvinar nibh. Turpis massa a eu consectetur tellus faucibus lobortis.
                            .avtor  
                                h4 John Dermott
                                span.span Balto
                    .variants 
                        img(src="../assets/imgs/var1.png", alt="")
                        img(src="../assets/imgs/var2.png", alt="")
                        img(src="../assets/imgs/var3.png", alt="")

        footer.footer 
            .row 
                .col 
                    img(src="../assets/logos/logo1.svg", alt="")
                    p Perpsective is Lorem ipsum dolor sit amet consectetur.
                    img.programs(src="../assets/logos/frame1.svg", alt="")
                    span © 2024 Perspective | All rights reserved.
                .col 
                    ol.footer_list 
                        each item in list 
                            li=item

                .col 
                    ol.footer_list
                        each item2 in list2     
                            li=item2
                .col 
                    ol.footer_list.footer_list2
                        li.list_item 
                            b Email us 
                            | contact@perspective.id                        
                        li.list_item 
                            b Address 
                            | Perspective Design Oude Fabriekstraat 4b 3812 NR Amersfoort
                        li.list_item    
                            b Call Us 
                            | +31 35 36 90 144










